/* NAVIGATION */

.btn {
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  color: #191919;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.25s ease-in-out;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.btn:hover {
  background-color: #49505f;
  color: white;
}

.btn-collapse::after {
  display: block;
  content: "";
  background-image: url("../menu.png");
  background-position: center;
  background-size: cover;
  height: 28px;
  width: 28px;
  border: none;
  outline: none;
}

@media (max-width: 600px) {
  .btn {
    width: 100%;
    margin: 3px;
    text-align: center;
  }
}

/* HEADER */

.header-btn {
  margin-top: 25px;
}

.header-btn a {
  border: 1px solid #78e08f;
  color: #191919;
  background-color: #78e08f;
  padding: 13px 32px;
  margin: 0;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.header-btn a:hover {
  background-color: #4fd66d;
  border: 1px solid #4fd66d;
}
