.btn {
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  color: #191919;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.25s ease-in-out;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}
.btn:hover {
  /* opacity: 0.75; */
  background-color: #49505f;
  color: white;
}

.btn-collapse::after {
  display: block;
  content: "";
  background-image: url("../menu.png");
  background-position: center;
  background-size: cover;
  height: 28px;
  width: 28px;
  border: none;
  outline: none;
}

@media (max-width: 600px) {
  .btn {
    width: 100%;
    margin: 3px;
    text-align: center;
  }
}
