body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/* BODY */
.wrapper {
  min-width: 320px;
}
/* HEADER */
.header-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 10px 0;
  opacity: 0.8;
  background: #f7f7f7;
}
.navbar {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* HERO */

/* issue hero */
.hero {
  background: linear-gradient(
    to bottom,
    rgba(95, 95, 95, 0.3) 0%,
    rgba(95, 95, 95, 0.2) 100%
  );
  width: 98%;
  max-width: 1280px;
  margin: 0 auto;
  height: 60vh;
  overflow: hidden;
  position: relative;
}
.container-slider {
  width: 100%;
  height: 100%;
  display: flex;
}
.slider {
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
  position: relative;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
}

.slider button {
  position: absolute;
  z-index: 3;
  bottom: 20%;
}

img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 8px);
  background-color: transparent;
  color: #8a949e;
  z-index: 2;
  border: none;
  outline: none;
  cursor: pointer;
}
.arrow-rigth {
  right: 0;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* termina aqui */
.first-line {
  color: #f4f4f4;
  font-size: 52px;
  line-height: 34px;
  font-weight: 900;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.second-line {
  font-size: 25px;
  padding: 10px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  color: #f4f4f4;
}

/* MAIN INFO */
.main-area {
  margin: 40px 30px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 10px;
}
.main-area p {
  display: inline-block;
  float: left;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 27px;
}
.area1 {
  width: 100%;
  background-color: #49505f;
}
.area2 {
  width: 100%;
  background-color: rgb(124, 91, 91);
}

.area3 {
  width: 100%;
  background-color: #49505f;
}
.main-area1 {
  margin: 40px 30px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 10px;
}
.area4,
.area5 {
  width: 100%;
  background-color: #3a4e5f33;
}

.img-card {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.father {
  text-align: center;
}
.fthr {
  text-align: center;
}

.fthr {
  background-color: #3a4e5f33;
  color: #000;
}

.btn-main,
.btn-detail {
  margin-top: 80px;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 6%;
  margin-bottom: 20px;
  background-color: #3a4e5f33;
  color: #f4f4f4;
  cursor: pointer;
  transition: all 0.5s linear;
}
.btn-main:active,
.btn-detail:active {
  transform: scale(0.8);
}

.btn-main:hover,
.fthr .btn-main:hover,
.btn-detail:hover {
  background-color: #54728d33;
}

.btn-detail {
  color: black;
}

.two-column {
  text-align: center;
  margin: 20px 0 10px;
  font-size: 28px;
  line-height: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.tree-column {
  padding-left: 27px;
  margin: 20px 0 10px;
  font-size: 28px;
  line-height: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #f4f4f4;
}
.two-column-p {
  display: inline-block;
  padding: 10px 27px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
}
.btn-collapse {
  display: none;
}
/* MEDIA QUERYS */

@media (max-width: 600px) {
  .header-section {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .navbar {
    height: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5 ease;
  }
  .btn-collapse {
    display: block;
    margin-right: 20px;
  }

  .is-active {
    height: 300px;
    visibility: visible;
  }

  .main-area {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .main-area1 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
