body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}
/* BODY */
.wrapper {
  min-width: 320px;
}
/* HEADER */
.header-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 10px 0;
  background: #49505f;
}
.navbar {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* HERO */
.hero {
  background-image: url("../img/conquer.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.type {
  padding: 235px;
}
.first-line {
  color: #fff;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
}
.second-line {
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
}

/* MAIN INFO */
.main-area {
  flex-wrap: wrap;
  display: flex;
  margin-top: 40px;
}
.main-area p {
  display: inline-block;
  float: left;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 27px;
}
.area1 {
  width: 30%;
  float: left;
  background-color: #49505f;
  margin: auto auto auto 0;
}
.area2 {
  width: 30%;
  float: left;
  background-color: rgb(124, 91, 91);
  margin: auto;
}
.area3 {
  width: 30%;
  float: right;
  background-color: #49505f;
  margin: auto;
  margin-right: 0;
}
.main-area1 {
  display: inline-block;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 40px;
}
.area4 {
  display: inline-block;
  width: calc((100% - 2 * 20px) / 2);
  background-color: #3a4e5f33;
  float: left;
}
.area5 {
  display: inline-block;
  width: calc((100% - 2 * 20px) / 2);
  background-color: #3a4e5f33;
  float: right;
}
.img-card {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.father {
  text-align: center;
}
.fthr {
  text-align: center;
}
.btn-main {
  margin-top: 80px;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  border-radius: 6%;
  margin-bottom: 20px;
}
.two-column {
  text-align: center;
  margin: 20px 0 10px;
  font-size: 28px;
  line-height: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.tree-column {
  padding-left: 27px;
  margin: 20px 0 10px;
  font-size: 28px;
  line-height: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.two-column-p {
  display: inline-block;
  float: left;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 27px;
}

/* MEDIA QUERYS */

@media (max-width: 600px) {
  .header-section {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .navbar {
    height: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5 ease;
  }
  .btn-collapse {
    display: block;
    margin-right: 20px;
  }

  .is-active {
    height: 300px;
    visibility: visible;
  }
}
