body, 
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
/* BODY */
.wrapper {
    display: inline-block;
    float: left;
    width: 1300px;
    margin-left: calc( (100% - 1300px) / 2 );
}
/* HEADER */
.header-section .navbar {
    display: inline-block;
    float: left;
    width: 100%;
    background: #49505F;
    text-align: center;
    margin: 0 0 20px;
}
.navbar {
    display: inline-block;
    padding: 25px;
}
/* HERO */
.hero {
    background-image: url("../img/conquer.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    }
.type {
    padding: 235px;
}
.first-line {
    color: #FFF;
    font-size: 70PX;
    line-height: 70PX;
    text-align: center;
    text-transform: uppercase;
}
.second-line {
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
}

/* MAIN INFO */
.main-area {
    flex-wrap:wrap;
    display: flex;
    margin-top: 40px;
}
.area1 {
    width: 30%;
    float: left;
    height: 100px;
    background-color: #49505F;
    margin: auto auto auto 0;
}
.area2 {
    width: 30%;
    float: left;
    /* margin: 0 10px; */
    height: 100px;
    background-color: rgb(124, 91, 91);
    margin: auto;
  }
.area3 {
    width: 30%;
    float: right;
    height: 100px;
    background-color: #49505F;
    margin: auto;
    margin-right: 0;
}
.main-area1 {
    display: inline-block;
    margin-top: 40px;
    width: 100%;
}
.area4 {
    display: inline-block;
    width: calc( (100% - 2 * 20px) / 2 );
    height: 100px;
    background-color: #3a4e5f33;
    float: left;
} 
.area5 {
    display: inline-block;
    width: calc( (100% - 2 * 20px) / 2 );
    height: 100px;
    background-color: #3a4e5f33;
    float: right;
}
